@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120, 20%, 95%; /* Very Light Green */
    --foreground: 120, 40%, 20%; /* Dark Green */

    --muted: 120, 10%, 70%; /* Muted Green */
    --muted-foreground: 120, 40%, 30%; /* Dark Green */

    --popover: 120, 20%, 95%; /* Very Light Green */
    --popover-foreground: 120, 40%, 20%; /* Dark Green */

    --border: 120, 30%, 50%; /* Medium Green */
    --input: 120, 30%, 50%; /* Medium Green */

    --card: 120, 20%, 95%; /* Very Light Green */
    --card-foreground: 120, 40%, 20%; /* Dark Green */

    --primary: 120, 40%, 50%; /* Bright Green */
    --primary-foreground: 120, 20%, 80%; /* Light Green */

    --secondary: 120, 30%, 60%; /* Secondary Green */
    --secondary-foreground: 120, 20%, 80%; /* Light Green */

    --accent: 120, 40%, 50%; /* Bright Green */
    --accent-foreground: 120, 20%, 80%; /* Light Green */

    --destructive: 0, 100%, 50%; /* Bright Red for contrast */
    --destructive-foreground: 120, 40%, 50%; /* Bright Green */

    --ring: 120, 30%, 50%; /* Medium Green */

    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 10%; /* Black */
    --foreground: 0, 0%, 80%; /* Light Gray */

    --muted: 0, 0%, 30%; /* Dark Gray */
    --muted-foreground: 0, 0%, 70%; /* Medium Gray */

    --accent: 120, 40%, 50%; /* Bright Green */
    --accent-foreground: 0, 0%, 80%; /* Light Gray */

    --popover: 0, 0%, 10%; /* Black */
    --popover-foreground: 0, 0%, 80%; /* Light Gray */

    --border: 0, 0%, 30%; /* Dark Gray */
    --input: 0, 0%, 30%; /* Dark Gray */

    --card: 0, 0%, 10%; /* Black */
    --card-foreground: 0, 0%, 80%; /* Light Gray */

    --primary: 120, 40%, 50%; /* Bright Green */
    --primary-foreground: 0, 0%, 80%; /* Light Gray */

    --secondary: 120, 30%, 60%; /* Secondary Green */
    --secondary-foreground: 0, 0%, 80%; /* Light Gray */

    --destructive: 0, 63%, 31%; /* Dark Red */
    --destructive-foreground: 120, 40%, 50%; /* Bright Green */

    --ring: 0, 0%, 30%; /* Dark Gray */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
